<mat-card class="ng-card ng-link">
  <div class="ng-cat-area">
    <div *ngFor="let c of categories | async">
      <span class="category-folder" [routerLink]="root + c.catPath">
        <mat-icon class="ng-icon-folder">folder</mat-icon>
        {{ c.title }} ({{ c.postsCount || 0 }})
      </span>
      <ng-container *ngIf="auth.user$ | async as user">
        <ng-container *ngIf="user!.roles?.includes('editor')">
          <a mat-icon-button [routerLink]="[edit, c.id]">
            <mat-icon class="ng-icon-small ng-small">edit</mat-icon>
          </a>
          <a mat-icon-button (click)="cs.delete(c.id)">
            <mat-icon class="ng-icon-small ng-small">delete</mat-icon>
          </a>
        </ng-container>
      </ng-container>
      <br />
      <span class="ng-small">{{ c.description }}</span>
    </div>
  </div>
  <div *ngIf="(categories | async)?.length === 0" class="ng-message">
    <h3 class="ng-center">There are no categories!</h3>
  </div>
</mat-card>
<ng-container *ngIf="category !== 'home'">
  <app-post [category]="category"></app-post>
</ng-container>
