<button class="ng-close-icon" mat-button [mat-dialog-close]="true" tabindex="-1">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <h2 mat-dialog-title>Reauthentication required</h2>
  <div [hidden]="!providers?.includes('password')">
    <form [formGroup]="userForm" (ngSubmit)="login()">
      <mat-form-field class="login-text" appearance="outline">
        <mat-icon color="primary" matPrefix class="login-icons">lock</mat-icon>
        <input matInput name="password" formControlName="password" placeholder="Password" type="password"
          autocomplete="current-password" required>
      </mat-form-field>
      <button class="login-button" type="submit" color="primary" mat-raised-button
        [disabled]="!userForm.valid">Re-login</button>
    </form>
  </div>
  <div *ngIf="providers?.includes('password') && providers?.includes('google.com')">
    <div class="social-login or bold">OR</div>
  </div>
  <div *ngIf="providers?.includes('google.com')">
    <div class="margin-spacer"></div>
    <button class="g-button provider-button-relogin" mat-button (click)="providerLogin('google.com')">
      Re-login with Google
    </button>
  </div>
  <div class="margin-spacer"></div>
</mat-dialog-content>
