<app-header></app-header>
<mat-sidenav-container class="ng-container centered" autosize hasBackdrop="false" [@.disabled]="true">
  <mat-sidenav #leftNav opened="true" mode="side" class="ng-sidenav ng-transparent">
    <app-leftnav></app-leftnav>
  </mat-sidenav>
  <mat-sidenav #rightNav closed mode="side" position="end">
    <app-rightnav></app-rightnav>
  </mat-sidenav>
  <mat-sidenav-content class="ng-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
