<ng-container *ngIf="posts">
  <mat-card class="ng-card" *ngFor="let post of posts">
    <img *ngIf="post.image" mat-card-image src="{{ post.image }}" alt="{{ post.title }}"
      [routerLink]="['/post', post.id, post.slug]" class="ng-link" />
    <h1 [routerLink]="['/post', post.id, post.slug]" class="ng-post-title">
      <mat-icon color="primary" class="ng-icon-text">library_books</mat-icon>{{ post.title }}
    </h1>
    <h6><i>{{ post.minutes }} min read</i></h6>
    <div class="ng-author ng-link" [routerLink]="['/user', post.authorId]">
      <img *ngIf="post.authorDoc?.photoURL" class="avatar" src="{{ post.authorDoc?.photoURL }}" />
      <mat-icon *ngIf="!post.authorDoc?.photoURL" class="ng-photo-icon">account_circle</mat-icon>
      <p><small><b>{{ post.authorDoc?.displayName }}</b>
          <ng-container *ngIf="post.createdAt"> on
            {{ post.createdAt | date: 'EEEE, MMMM d, yyyy' }}</ng-container>
          <ng-container *ngIf="post.updatedAt"> (last modified on
            {{ post.updatedAt | date: 'EEEE, MMMM d, yyyy' }})</ng-container>
        </small></p>
    </div>
    <br />
    <div class="mat-chip-area">
      <mat-chip-list aria-label="Tags" *ngFor="let tag of post.tags" class="tags">
        <mat-chip [routerLink]="['/t', tag]"># {{ tag }}</mat-chip>
      </mat-chip-list>
    </div>
    <br />
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <div class="flex-container">
        <div>
          <button mat-flat-button (click)="post.id && toggleAction(post.id, 'bookmarks', post.saved)">
            <mat-icon color="primary">{{ post.saved ? 'bookmark' : 'bookmark_border' }}</mat-icon>
            <span class="ng-left">Save</span>
          </button>
          <button mat-flat-button (click)="post.id && toggleAction(post.id, 'hearts', post.liked)">
            <mat-icon class="ng-heart">{{ post.liked ? 'favorite' : 'favorite_border' }}</mat-icon>
            <span class="ng-left">
              {{ post.heartsCount || '0' }} like{{ post.heartsCount === 1 ? '' : 's' }}
            </span>
          </button>
        </div>
        <ng-container *ngIf="(post.authorId === user?.uid || user?.role === 'admin' || user?.role === 'editor')">
          <button mat-icon-button [routerLink]="['/edit', post.id]">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container *ngIf="total as t">
  <ng-container *ngIf="t ==='none'">
    <mat-card class="ng-card">There are no posts here yet!</mat-card>
  </ng-container>
  <mat-paginator class="ng-transparent" [length]="t" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page" (page)="pageChange($event)">
  </mat-paginator>
</ng-container>
