<!-- tag cloud code...
    <mat-card class="ng-card">
    <mat-card-content>
        <ul class="tag_list">
            <li [ngClass]="{
          'tag-li-footer': display == 'footer'
        }" *ngFor="let tag of (tags | async)" [ngStyle]="{'font-size': getSize(tag.tagCount, maxNumPosts | async)}" [routerLink]="ts.getTagsURL(tag.name)">{{ tag.name }}</li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card class="ng-card">
    <mat-card-content>
        <h2>Tags:</h2>
        <ul class="tag_list">
            <li [ngClass]="{
          'tag-li-footer': display == 'footer'
        }" *ngFor="let tag of tags | async" [routerLink]="ts.getTagsURL(tag.name)">{{ tag.name }}
                ({{ tag.count }})</li>
        </ul>
    </mat-card-content>
</mat-card>-->
<mat-card class="ng-card">
  <mat-card-content>
    <h2>Tags:</h2>
    <ul class="tag_list">
      <li [ngClass]="{
        'tag-li-footer': display == 'footer'
      }" *ngFor="let tag of tags | async" [routerLink]="getTagsURL(tag.id)">{{ tag.id }}
        ({{ tag.count }})</li>
    </ul>
  </mat-card-content>
</mat-card>
