<mat-toolbar color="primary" class="ng-sticky-header flex-container">
  <button mat-button (click)='ns.home();'>
    <mat-icon class="ng-button-icon">home</mat-icon>
    {{ ns.title }}
  </button>
  <div *ngIf="auth.user$ | async as user; else guest">
    <mat-menu #appMenu="matMenu">
      <mat-list>
        <mat-list-item><a mat-menu-item routerLink="/settings">
            <mat-icon class="settings-icon">settings</mat-icon>Account Settings
          </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a mat-menu-item routerLink="/favorites">
            <mat-icon class="settings-icon">favorite</mat-icon>Favorites
          </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a mat-menu-item routerLink="/directory">
            <mat-icon class="settings-icon">folder</mat-icon>Directory
          </a></mat-list-item>
        <mat-divider></mat-divider>
        <ng-container *ngIf="isAdmin">
          <mat-list-item><a mat-menu-item routerLink="/my-posts">
              <mat-icon class="settings-icon">account_box</mat-icon>My Posts
            </a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a mat-menu-item routerLink="/new">
              <mat-icon class="settings-icon">post_add</mat-icon>New Post
            </a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a mat-menu-item routerLink="/directory/new">
              <mat-icon class="settings-icon">build</mat-icon>New Directory
            </a></mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <mat-list-item><a mat-menu-item (click)="auth.logout()">
            <mat-icon class="settings-icon">power_settings_new</mat-icon>Logout
          </a></mat-list-item>
      </mat-list>
    </mat-menu>
    <a mat-icon-button [matMenuTriggerFor]="appMenu">
      <img class="avatar" *ngIf="user.photoURL" [src]="user?.photoURL" />
      <mat-icon *ngIf="!user.photoURL" class="avatar avatar-account">account_circle</mat-icon>
    </a>
  </div>
  <ng-template #guest>
    <button mat-button routerLink="/login">Login</button>
  </ng-template>
</mat-toolbar>
<mat-toolbar color="basic" class="ng-nav">
  <ol class="arrows" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" mat-button routerLink="/">
        <mat-icon class="ng-button-icon">home</mat-icon><span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
      *ngFor="let c of ns.directories; index as i">
      <a itemprop="item" mat-button [routerLink]="c.location ? c.location : []">
        <span itemprop="name">{{ c.name }}</span>
      </a>
      <meta itemprop="position" content="{{ i + 2 }}" />
    </li>
  </ol>
</mat-toolbar>
