<div *ngIf="user$ | async as user" class="ng-border">
  <mat-card class="ng-card">
    <h1>
      <mat-icon color="primary" class="ng-icon-text">comment</mat-icon>Welcome {{ user?.displayName }}!
    </h1>
  </mat-card>
  <mat-tab-group class="ng-card" animationDuration="0ms" [(selectedIndex)]="this.ns.dashboardIndex" (selectedIndexChange)="tabChange($event)" #tabIndex>
    <mat-tab label="Bookmarks{{ user?.bookmarksCount ? ' (' + user?.bookmarksCount + ')' : '' }}">
      <ng-template matTabContent>
        <br>
        <app-post-list></app-post-list>
      </ng-template>
    </mat-tab>
    <ng-container *ngIf="user?.role == 'admin' || user?.role == 'editor'">
      <mat-tab label="Posts{{ user?.postsCount ? ' (' + user?.postsCount + ')' : '' }}">
        <ng-template matTabContent>
          <br>
          <app-post-list></app-post-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="Drafts{{ user?.draftsCount ? ' (' + user?.draftsCount + ')' : '' }}">
        <ng-template matTabContent>
          <br>
          <app-post-list></app-post-list>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
