@use "~@angular/material" as mat;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat.define-typography-config(
  $font-family: '"Marr Sans",Helvetica,Arial,Roboto,sans-serif',
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500),
);

@include mat.core($custom-typography);
@include mat.typography-hierarchy($custom-typography);
@include mat.all-component-typographies($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fireblog-primary: mat.define-palette(mat.$blue-palette, 600);
$fireblog-accent: mat.define-palette(mat.$indigo-palette, 900);

// The warn palette is optional (defaults to red).
$fireblog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fireblog-theme: mat.define-light-theme(
  (
    color: (
      primary: $fireblog-primary,
      accent: $fireblog-accent,
      warn: $fireblog-warn,
    ),
  )
);

//$theme-app-theme: mat.define-light-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fireblog-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
}

// end material

h1,
h2,
h3 {
  font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
}

.ng-login-container {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}

.ng-center {
  text-align: center;
}

.ng-dialog-text {
  position: relative;
  padding-top: 20px;
}

.cdk-overlay-pane.reAuthDialog {
  position: relative !important;
}

.ng-light {
  color: lighten($color: #000000, $amount: 0);
}

.ng-icon {
  padding: 14px;
}

.ng-card-footer {
  text-align: center;
}

.ng-form-icon {
  //position: relative;
  //top: 3px;
  padding-right: 15px;
}

.ng-close-icon.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.ng-icon-text {
  padding-right: 14px;
  vertical-align: middle;
  padding-bottom: 5px;
}

.ng-photo-icon {
  padding-right: 15px;
  vertical-align: middle;
  padding-bottom: 15px;
  font-size: 30px;
}

.ng-icon-header {
  padding-bottom: 14px;
}

.ng-aligned-with-icon {
  position: relative;
  top: -5px;
  margin-left: 5px;
}

.ng-button {
  padding-top: 5px !important;
  height: 100px;
}

.ng-home-icon {
  padding-right: 14px;
  margin-bottom: 4px;
}
.ng-button-icon {
  //padding: 0 14px;
  padding-right: 14px;
  margin-bottom: 4px;
}

.ng-menu-icon {
  padding-bottom: 3px !important;
}

.ng-success {
  color: green;
}

.ng-warn {
  color: red;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.ng-card {
  margin: 15px;
  text-align: left;
  font-size: 18px;
}

.ng-cat {
  max-width: 200px;
}

.ng-message {
  text-align: center;
  margin: 0 auto;
}

.ng-cat-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ng-cat-area > * {
  flex: 1 50%;
}

.category-folder:hover {
  font-weight: bold;
}

.ng-small {
  font-size: 16px;
}

.ng-icon-small {
  vertical-align: middle;
  padding-bottom: 5px;
}

.ng-sidenav {
  text-align: left;
}

.ng-title {
  font-size: 30px;
}

.ng-right {
  text-align: right;
}

.ng-post-title:hover {
  color: #565350;
  cursor: pointer;
}

@media (min-width: 767px) {
  .ng-height {
    min-height: 650px;
  }
}

.ng-container {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 995px;
  background-color: transparent !important;
}

// Snackbar styling
.ng-error {
  background: red;
  color: white;
}

.ng-error button {
  background-color: red;
  color: white;
}

.mat-snack-bar-container.ng-error {
  @extend .ng-error;
}

.ng-error .mat-simple-snackbar-action {
  color: white;
}

// end snackbar styling

@media (max-width: 767px) {
  .ng-nav {
    height: 100px !important;
  }
}

.ng-spacer {
  flex: 1 1 auto !important;
}

.ng-sticky-header2 {
  position: sticky;
  height: 50px;
}

.ng-sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Forms

.form-errors {
  padding-top: 14px;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  width: 100%;
}

.chip-list {
  width: 100%;
}

.mat-chip-area {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.ng-image {
  height: auto;
  cursor: pointer;
}

@media (max-width: 767px) {
  .ng-image {
    max-width: 250px;
  }
}

.ng-image-box {
  border: 15px solid transparent;
  border-width: 15px 0 15px 0;
}

.ng-link {
  cursor: pointer;
}

.ng-button-space {
  margin-right: 20px !important;
}

.ng-card-small {
  margin: 15px;
  min-height: 150px;
  width: 400px;
}

.ng-author {
  display: flex;
  align-items: center;
}

.ng-author img {
  margin-right: 10px;
}

.content h3,
.content p {
  margin: 0;
}

.tags {
  margin-right: 4px;
}

.tag_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.tag-li-footer {
  display: inline-block;
  margin-left: 5px;
}

.ng-footer {
  border-collapse: collapse;
  max-width: 1000px;
  min-width: 300px;
  -webkit-tap-highlight-color: transparent;
}

.tag_list li:hover {
  font-weight: bold;
}

:focus {
  outline: 0 !important;
}

.ng-like {
  color: darkred;
}

.tag-sm {
  font-size: 1em;
}

.tag-med {
  font-size: 1.25em;
}
.tag-lg {
  font-size: 1.5em;
}

.margin-spacer {
  margin: 20px;
}

.avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-bottom: 12px;
}

.avatar-account {
  font-size: 30px;
}

.mat-drawer-side {
  border-right: none !important;
}

.ng-select {
  margin-top: 35px;
  margin-bottom: 30px;
}

// Breadcrumbs

.arrows {
  white-space: nowrap;
}
.arrows li {
  display: inline;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.arrows li::after {
  //content: "\21FE";
  content: ">";
  vertical-align: middle;
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
  display: none;
}

.arrows li a {
  font: bold 28px;
  text-decoration: none;
}

// Search

.ng-search-bar {
  justify-content: center;
  width: 90% !important;
}

// posts

.post-summary {
  margin: 20px !important;
  font-weight: 500;
}

code {
  font-size: 1rem !important;
}

markdown a {
  color: #1e88e5;
  text-decoration: none;
}

markdown a:hover {
  text-decoration: underline;
}

/* Drop Zone */

.ng-account-icon {
  font-size: 180px;
}

.drop-zone,
.drop-image {
  width: 180px;
}

.drop-image {
  display: block;
}

.drop-zone:hover,
.drop-active {
  opacity: 0.5;
  border-style: dashed;
}

.g-button {
  background-color: rgb(219, 14, 14);
  color: white;
  font-weight: bold;
}

/* Expansion Panel */

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.img-preview > .mat-menu-content {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-bottom: -8px;
}

.img-preview {
  overflow-y: hidden !important;
}

.post-image {
  min-width: 100%;
}

div.trim {
  max-height: 400px;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// mobile

@media (max-width: 767px) {
  .ng-browser {
    display: none !important;
    visibility: hidden;
  }
  .ng-mobile {
    display: block;
    visibility: visible;
  }
}

@media (min-width: 767px) {
  .ng-mobile {
    display: none !important;
    visibility: hidden;
  }
  .ng-browser {
    display: block;
    visibility: visible;
  }
}
