<mat-card class="ng-card">
  <h1>
    <mat-icon color="primary" class="ng-icon-text">comment</mat-icon>Welcome to {{ env.title }}!
  </h1>
  <span class="ng-front">
    <mat-icon color="accent" class="ng-icon-text">storage</mat-icon>Advanced techniques for Google Firebase and
    Firestore!
  </span>
</mat-card>
<mat-tab-group class="ng-card" animationDuration="0ms" (selectedIndexChange)="tabChange($event)">
  <mat-tab label="New">
    <ng-template matTabContent>
      <br>
      <app-post-list></app-post-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Updated">
    <ng-template matTabContent>
      <br>
      <app-post-list type="updated"></app-post-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Top">
    <ng-template matTabContent>
      <br>
      <app-post-list type="liked"></app-post-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
