<mat-card class="ng-card">
    <h1>Category Details</h1>

    <form [formGroup]="myForm">
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
            <mat-error *ngIf="titleRef?.hasError('uniqueField')">That title has already been taken.</mat-error>
            <mat-error *ngIf="titleRef?.hasError('required')">The title field is required.</mat-error>
            <mat-hint *ngIf="titleAvailable && isNewTitle">That title is available.</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <textarea rows="8" matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Parent Category</mat-label>
            <mat-select formControlName="parent" disableOptionCentering panelClass="ng-select" (selectionChange)="myForm.controls['title'].updateValueAndValidity();">
                <mat-option value="">-Root</mat-option>
                <mat-option *ngFor="let c of categories | async" [value]="c.catPath">
                    {{ c.catPath }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="state" disableOptionCentering panelClass="ng-select">
                <mat-option value="unpublished">Unpublished</mat-option>
                <mat-option value="published">Published</mat-option>
            </mat-select>
        </mat-form-field>
        <p><button mat-stroked-button (click)="update()" [disabled]="myForm.invalid">Save</button></p>
    </form>
</mat-card>